body{
	width: auto;
	background-color: #FCFCFC;
	align-items: center;
}
#header{
	width: auto;
	height: 300px;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	text-decoration: none;
	background-color: #FDE0E0;
}
h1{
	font-family: 'Dancing Script', cursive;
	font-size: 125px;
	text-align: center;
	margin: center;
	letter-spacing: 35px;
	margin-bottom: 100px;
}
#nav{
	width: auto;
	border-top: 2px solid #000000;
	font-family: 'Boogaloo', cursive;	
	font-size: 20px;
	justify-content: space-between;
	display: flex;
	text-align: bottom;
}
#feature{
	padding: 5px;
	margin-left: 3px;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
}
#footer{
	font-family: 'Lora', serif;
	font-size: 15px;
	padding: 0.5em 0;
	text-align: center;
	color: #707070;
}
#article1, #article2, #article3{
	width: 80%;
	align-items: center;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
}
li{
	display: inline;
	padding: 5px;
} 
img.logo{
	width: 15%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
img.diy{
    display: block;
    width: 25%;
}