body{
	width: 90%;
	margin-left: 1 auto;
	background-color: #FADBD8;
	align-items: center;
}
img.medium{
	width: 90%;
	height: 220px;
}
img.pic{
	width: 90%;
	vertical-align:middle;
}
#header{
	width: 90%;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	text-decoration: none;
}
#content {
	overflow: auto;
	margin-bottom: 1em;
}
#nav{
	width: 90%;
	padding: 0.5em 0;
	margin-left: 5%;
	border-top: 2px solid #0000FF;
	border-bottom: 1px solid #0000FF;
	text-align: center;
	font-family: 'Yatra One', cursive;
	font-size: 16px;
	background-color: #FDE0E0;
}
#feature{
	background-color: #FFFFFF;
	padding: 5px;
	margin-left: 5%;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
}
#footer{
	background-color: #FFFFFF;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	padding: 0.5em 0;
	margin-left: 5%;
}
.colum1, .colum2, .colum3 {
	background-color: #FFFFFF;
	width: 80%;
	margin-left: 5%;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
}
li{
	display: inline;
	padding: 5px;
} img.logo{
	width: 20%;
	float: right;	
}